@page "/trainers"

@inject IApiClientService apiClientServie
@inject IClientApiPollingService _service

<PageTitle>Trainers</PageTitle>
@if (trainers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="find-trainer">
        <h2>Find trainer</h2>
    </div>

    <div class="overflow-scroll custom-table-size">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Trainer Id</th>
                    <th scope="col"> Trainer Course</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trainer in currentTrainers)
                {
                    <tr>
                        <td scope="row"> <a href="/trainer/@trainer.Id"> @trainer.Id </a>  </td>
                        <td>

                            <ul>
                                <li>
                                    Course Id: @trainer.Course.Id
                                </li>
                                <li>
                                    Name: @trainer.Course.Name
                                </li>
                                <li>
                                    Reference : @trainer.Course.Reference
                                </li>
                            </ul>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<Trainer> trainers;
    private List<Trainer> currentTrainers;

    protected override async Task OnInitializedAsync()
    {
        _service = new ClientApiPollingService( apiClientServie);
        trainers = await _service.GetTrainers();

        if(currentTrainers == null)
        {
            currentTrainers = trainers;
        }
    }
}
